// Default styles for annotation studio
.annotation-studio-editor {
  &__content {
    display: flex;
    flex-direction: row;
  }
  &__viewer {
    flex: 1;
  }

  &__properties {
    width: 400px;
  }
}
