// full height panel
.full-height-panel {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;

  &__content {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  &__button-bar {
    height: 60px;
  }
}
