.annotation-list {
  background: #eeeeee;
  padding: 10px;
  &__list {
    margin: 0;
    padding: 0;
  }
  &__item {
    margin: 0;
    list-style: none;
    background: #fff;
    border-radius: 3px;
    border: 2px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;

    a {
      color: inherit;
      text-decoration: none;
    }

    &--current {
      border: 2px solid #0074d9;
    }
  }
  &__empty-space {
    color: #999;
    font-size: 0.85em;
    padding: 20px 0;
    text-align: center;
  }
}
