$grid: 8px;
.annotation-list {
  &__dropzone {
    padding: grid;
    width: calc(20vw - $grid);
    min-height: 100%;
  }
  &__item {
    user-select: none;
    padding: ($grid / 2) $grid;
    margin: 0 0 $grid 0;
    display: block;
    position: relative;
  }
  &__item-actions {
    float: right;
    margin-top: -6px;
    margin-right: -8px;
  }
}
