.annotation-thumbnail {
  height: 60px;
  width: 60px;
  line-height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ddd;

  img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 60px;
  }
}
