.overview-page {
  position: relative;
  display: flex;
  width: 100%;

  &__viewer {
    flex: 1;
    position: relative;
  }

  &__metadata {
    position: relative;
    width: 400px;
    padding: 0 10px;
  }

  &__annotations {
    position: relative;
    width: 400px;
    padding: 0 10px;
  }

  &__title {
    font-weight: 300;
    font-size: 1.4em;
    line-height: 1.9em;
    margin: 10px 0 0;
  }
  &__subtext {
    color: #999;
    font-size: 0.8em;
    margin-bottom: 25px;
  }
}
